body{
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to top,#000000 20%, #ffffff);
}

.box{
    width: 200px;
    height: 80px;
    
}

.box--fixed{
    position: fixed;
    background-color: rgb(255, 255, 255);
    top:100px;
    right: 0px;
    padding:0px 5px;
    border: 1px solid #000;
}

.box--sticky{
    position: sticky;
    background-color: red;
    top: 10px;
}

h2{
    margin: 0;
    font-size: 20px;
}

p{
    font-size: 15px;
}