body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #48e;
}
.box{
    margin: auto;
    padding: 20px 50px;
    border: 4px solid #000;
    width: fit-content;
}

img{
    transform: scaleX(1);
}

.box:first-child{
    transform: skew(20deg);
    translate: 0px;
    transition: translate 1s;
}

.box:first-child:hover{
    translate: 0px 200px;
}


.box:nth-child(2){
    rotate: 0deg;
    transition: rotate 1s;
}

.box:nth-child(2):hover{
    rotate: 360deg;
}