body{
    background-color: aqua;
}
div{ 
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: blanchedalmond;
}

h1{
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}
p{
    padding: 20px;
    background: white;
    text-align: justify;
}